/*overrides bootstrap bg.dark*/
.bg-dark {
    background-color: black !important;
}
/* end overrides bootstrap bg.dark*/


/* link colors */
a,
.navbar-dark .navbar-nav .nav-link {
    color: #def803;
    color: rgba(222, 248, 3, 1)
}
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .show.nav-link {
    color: #69a9f8;
    color: rgba(105, 169, 248, 1)
}
a:focus, a:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #879604
}
.navbar-dark .navbar-brand:hover {
    color:rgb(146, 7, 7)
}

.navbar-dark .nav-link.active:hover{
    color: #026ae9;
}
/* end link colors */


/* header/nav */

.navbar-dark .navbar-brand {
    font-family: 'Baumans', sans-serif;
    font-size: 2.25rem;
    color: red;
    width: 200px;
    white-space: normal;
    line-height: .75;
}
.navbar-brand span:last-child {
    font-size: 2.4375rem;
}
/* end header/nav */

/* typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color:pink;
    font-style: italic;
}
dl dt {
    color:pink;
    text-align: right;
}
strong {
    color:pink;
    font-style: normal;
}
.timeline {
    font-style: italic;
}
thead {
    color:pink;
    font-style: italic;
    text-align: center;
    cursor: pointer;
}
tbody {
    color: white;
    text-align: center;
}

/* layout */
body, 
header {
    margin-bottom: 120px;
}
article img {
    margin-bottom: 1rem;
}
body.bg-band {
    background-image: url("../images/CB Splash Hero Image Slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* end layout */

/*table */


  table#your-table-items thead th:hover {
    color: #fff;
    background-color: blue;
    cursor: pointer;
  }

  table#your-table-items thead th.tablesorter-headerAsc,
  table#your-table-items thead th.tablesorter-headerDesc {
    background-color: blue;
  }

  table#your-table-items tbody tr:hover {
    color: #fff;
    background-color: blue;
  }

  table#your-table-items tbody td {
    padding: 8px 20px;
  }

  table#your-table-items tbody td img {
    width: 100px;
    margin: 0 10px 0 0;
  }


/* carousel */
.carousel-item img {
    width: auto;
    max-height: 447px;
    margin: 0 auto;
}

.accordion-item {
    color: white;
    background-color: black;
}
.accordion-header {
    color: blue;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: left;
    width: 100%;
    padding: 2
rem
 2.25
rem
;
    font-size: 1rem;
    color: white;
    text-align: center;
    background-color: black;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}